<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>容联云通信</title>
    <script src="/clound/jquery-3.1.0.min.js" type="module"></script>
    <script src="/clound/ytx-web-im7.2.2.5.js" type="module"></script>
    <script src="/clound/ytx-web-av3.js" type="module"></script>
    <script src="/clound/adapter.js" type="module"></script>
    <script src="/clound/config.js" type="module"></script>
    <script src="/clound/RL_Meet.js" type="module"></script>
    <script src="/clound/chatLogin.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js" type="module"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>